p {
  font-size: 30px;
  text-align:left;
}

.centered {
  text-align:center;
}

.desirata {
   list-style-type: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
}

th, td {
    border-bottom: none;
}

