p {
  font-size: 30px;
  text-align:left;
}
.leftHeader {
  text-align:left;
  margin:0px;
}

.centered {
  text-align:center;
}

.desirata {
   list-style-type: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
}

th, td {
    border-bottom: none;
}

:root {
    --pastel-blue:#4C9DFA;
    --pastel-green:#48C676;
    --pastel-red:#FF645C;
}

.caption {
    margin-top:50px;
    font-size:20px;
}

.citation {
    font-size:17px;
    text-align:left;
    margin-left:-70px;
}

.simple_table p {
    text-align:center;
    padding:0px;
}

.simple_table td {
    padding:0px;
}
.oracle {
    color:var(--pastel-red);
}
.optimizer {
    color:var(--pastel-blue);
}
