body {
    font: 'Neuton', serif;
    font-size:150%;
    color: #333333;
}

.hamburgerContainer {
    display: none;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EFEFFF;
    overflow-x:hidden;
    padding: 50px 30px 30px 30px;
}

.navlink {
    display: block;
    margin-top: 10px;
    font-family: 'Ruda', sans-serif;
    text-align: center;
}

a {
    color: #706F7D;
}

a:hover {
    color: #4C4B63;
}

.content {
    margin-left: 30px;
    font-size: 0.8em;
}

.main {
    margin-left: 300px;
    padding: 0px 50px 40px 40px;
    max-width: 800px;
    margin-bottom: 100%;
}

.portrait {
    width: 200px;
    height: 200px;
}

.name {
    color: #000000;
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-size:2em;
    text-align: center;
}

.nameContainer {
    margin: 20px 0px 50px 0px;
}

section {
    margin-top:50px;
}

.sectionHeader {
    font-family: 'Ruda', sans-serif;
    margin-bottom: 20px;
    font-size:1.5em;
}

.paper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.icon {
    margin-top:auto;
    margin-bottom: auto;
    margin-right: 15px;
}

@media only screen and (max-width: 800px) {
    .hamburgerContainer {
        padding-top: 8px;
        display: block;
        width: 100%;
        height:60px;
        background-color: #EFEFFF;
    }

    .hamburger {
        margin-left: 6px;
        padding: 2px 2px 2px 4px;
        border: 1px solid #777777;
        width: 1.5em;
        border-radius: 6px;
    }

    .sidebar {
        display: none;
        position: relative;
        width: 100%;
        height:auto;
        top: auto;
        left:auto;
        z-index: 0;
        margin: 0;
        padding: 0;
        
    }

    .portrait {
        display: none;
    }

    .name {
        display: none;
    }

    .main {
        margin-top: 50px;
        margin-left: 0px;
        position:relative;
        top: auto;
        left:auto
    }

    .content {
        margin-left: 0px;
    }
    .nameContainer {
        margin: 0 0 0 0;
    }
    
    a.navlink {
        margin-top: 0;
        margin-bottom: 10px;
    }
}
