/*Heading*/
nav{
	width: 100%;
    font-size: 110%;
    background-color: #ddddee ; 
}

nav ul{
	/*Turn off the bullets*/
	list-style: none;
}

nav ul li {
	/*Display list elements in a line*/
	display:inline-block;
}

nav ul li a {
	/*Make links light grey*/
	color: #777777;
	/*Remove weird underlining*/
	text-decoration: none;
    font-family: "Quicksand", Arial, sans-serif;
}

nav ul li a:hover {
	/*Indicate which link is being selected*/
	color: #ADADAD;
}
/*End Heading*/

.header-container {
    width: auto;
	/*Draw a line at the bottom of the header*/
	border-bottom: thin solid #a0a0a0;
}

h2 {
    font-family: "Quicksand", Arial, sans-serif;
}

#home h1 {
    margin-top: 30px;
    font-family: "Playfair Display", serif;
    font-size: 600%;
}

section {
    padding-left: 30px;
    padding-right: 30px;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

p {
    text-align: justify;
}
.section-header {
    padding-top: 10px;
    padding-bottom: 20px;
    width:auto;
    font-size:100%;
}

.line {
    width: 400px;
    border-bottom: 2px solid black;
    margin:auto;
}

p {
    font-size: 110%;
}

#portrait {
    min-height: 200px;
}

.paper {
    text-align: right;
}

.contact-info {
    padding-left: 150px;
}

.icon {
    width: 10%;
    float: left;
}

.paperContents {
    float: right;
    width: 20%;
}
