body {
    background-color: gray;
    height:100%;
    width: 100%;
}
#container {
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
}
#animation_container {
    width: 1000px;
    margin: 10px;
}
#control_container {
    height:550px;
    width: 400px;
}
.control {
    height:18%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #999999;
    margin-bottom: 2%;
    font-size: 150%;
    flex-wrap: wrap;
}
.plus_sign {
    padding-top: 10px;
}
.matrix_form {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
}
.vector_form {
      display: inline-grid;
      grid-template-columns: 1fr;
      grid-gap: 5px;
}
#add_control {
      display: flex;
      align-items: center;
      justify-content: center;
}
canvas {
    background: white;
}
input {
    height: 20px;
    width: 30px;
    font-size: 10px;
}
@media only screen and (max-width: 600px) {
    #animation {
        width: 500px;
        height: 300px;
    }
}
@media only screen and (max-width: 450px) {
    #animation {
        width: 400px;
        height: 240px;
    }
}
@media only screen and (max-width: 300px) {
    #animation {
        width: 300px;
        height: 180px;
    }
}
.control.fullscreen{
    z-index: 9999;
    width: 90%;
    height: 90%;
    position: fixed;
    top: 5%;
    left: 5%;
    font-size: 300%;
 }
.control.fullscreen input {
    height: 40px;
    width: 80px;
    font-size: 10px;
}
.svg-circleplus { height: 40px; stroke: black; }
